<h1 align="center">Voice Source</h1>

<p>
 <%= link_to 'Showfm novel', novels_path%>
</p>

<p>
 <%= link_to 'Showfm Play', plays_path %>
</p>

<p>
  <%= link_to 'Showfm Speaker', speakers_path %>
</p>

<p>
  <%= link_to 'Showfm Record', rekords_path %>
</p>
